@CHARSET "UTF-8";

/* サイズをオレンジ〇で囲む */
span.price {
	/* サイズ指定 */
	width: 175px;
	height: 175px;
	/* 背景色 */
	background-color: #ff4500;
	/* 角を丸くする */
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
/*  合計金額の文字の大きさを変える　*/
span#total-price {
	font-size: 25px;
}

/* listの・を消す */
li {
	list-style: none;
}

#inputZipcode {
	width: 80px;
	height: 30px;
}

/* 画像を中央揃えにする */
.blockcenter {
	margin-left: auto;
	margin-right: auto;
}

/* ページング機能  */
.pager .pagination {
  text-align: center;
}

.pager .pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  border-radius: 15px;
}


.pager .pagination li a{
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display:table;
  text-decoration: none;
}

.pager .pagination li a span{
  display:table-cell;
  vertical-align:middle;
}

.pager .pagination li a:hover,
.pager .pagination li a.active{
  color: #000;
  background: #ffd478;
  border-radius: 10px;
}

}

/** 並び替えで使用　*/
.cp_ipselect cp_sl04 {
	overflow: hidden;
	width: 40%;
	text-align: right;
	margin-left: auto;
}
.cp_ipselect select {
	width: 100%;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl04 {
	position: relative;
	border: 1px solid #dfbd6f;
  	border-radius: 5px;
	background: #eedcb3;
}
.cp_ipselect.cp_sl04::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #941100;
	pointer-events: none;
}
.cp_ipselect.cp_sl04 select {
	padding: 8px 8px 8px 8px;
	color: #5d2f00;
}

/* レイアウトをアレンジ */
body {
	background-image: url("/img_coffee/kabe01.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.navbar-default {
	background-color: #eedcb3;
	border-color: #dfbd6f;
}

.navbar-default .navbar-link {
	color: #5d2f00;
}

.panel-title {
	color: #5d2f00;
}

.panel-default>.panel-heading {
	background-color: #eedcb3;
	border-color: #dfbd6f;
}

.form-horizontal .control-label {
	color: #5d2f00;
}

.btn-primary {
	background-color: #dfbd6f;
	border-color: #d3a438;
}

.panel-default {
	border-color: #dfbd6f;
}

.table-striped > tbody > tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table-striped > tbody > tr:nth-child(even) {
    background-color: #ffffff;
}

#errorimg {
	width: 1150px;
}