@CHARSET "UTF-8";

/* 繧ｵ繧､繧ｺ繧偵が繝ｬ繝ｳ繧ｸ縲�縺ｧ蝗ｲ繧� */
span.price {
	/* 繧ｵ繧､繧ｺ謖�螳� */
	width: 175px;
	height: 175px;
	/* 閭梧勹濶ｲ */
	background-color: #ff4500;
	/* 隗偵ｒ荳ｸ縺上☆繧� */
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
/* 蜷郁ｨ磯�鷹｡阪�ｮ譁�蟄励�ｮ螟ｧ縺阪＆繧貞､峨∴繧� */
span#total-price {
	font-size: 25px;
}

/* list縺ｮ繝ｻ繧呈ｶ医☆ */
li {
	list-style: none;
}

#inputZipcode {
	width: 80px;
	height: 30px;
}

/* 逕ｻ蜒上ｒ荳ｭ螟ｮ謠�縺医↓縺吶ｋ */
.blockcenter {
	margin-left: auto;
	margin-right: auto;
}

/* 繝壹�ｼ繧ｸ繝ｳ繧ｰ讖溯�ｽ  */
.pager .pagination {
	text-align: center;
}

.pager .pagination li {
	display: inline;
	margin: 0 2px;
	padding: 0;
	display: inline-block;
	background: #9D50BB;
	width: 50px;
	height: 50px;
	text-align: center;
	position: relative;
	border-radius: 50px;
}

.pager .pagination li a {
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
	color: #a9a9a9;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.pager .pagination li a span {
	display: table-cell;
	vertical-align: middle;
}

.pager .pagination li a:hover, .pager .pagination li a.active {
	color: #000;
	background: #ccf;
	border-radius: 50px;
}

@media only screen and (max-width: 767px) {
	.pager .pagination li {
		display: none;
	}
	.pager .pagination li.pre, .pager .pagination li.next {
		display: inline-block;
		width: 40%;
		height: 50px;
		text-align: center;
	}
	.pager .pagination li.pre a, .pager .pagination li.next a {
		width: 100%;
		text-align: center;
	}
	.pager .pagination li.pre span::after {
		content: "縲�蜑阪�ｮ10莉ｶ縺ｸ";
	}
	.pager .pagination li.next span::before {
		content: "谺｡縺ｮ10莉ｶ縺ｸ縲�";
	}
}

/* 繝ｬ繧､繧｢繧ｦ繝医ｒ繧｢繝ｬ繝ｳ繧ｸ */
body {
	background-image: url("/img_coffee/kabe01.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.navbar-default {
	background-color: #eedcb3;
	border-color: #dfbd6f;
}

.navbar-default .navbar-link {
	color: #5d2f00;
}

.panel-title {
	color: #5d2f00;
}

.panel-default>.panel-heading {
	background-color: #eedcb3;
	border-color: #dfbd6f;
}

.form-horizontal .control-label {
	color: #5d2f00;
}

.btn-primary {
	background-color: #dfbd6f;
	border-color: #d3a438;
}

.panel-default {
	border-color: #dfbd6f;
}

.table-striped > tbody > tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table-striped > tbody > tr:nth-child(even) {
    background-color: #ffffff;